html{
    font-size: 10px;
    font-family: forte;
    background-color: white;

}
header{
    width: 700px;
    height: 110px;
    border: 1px solid #970606;
    box-shadow: 0 0px 8px 1px #c50505;
    background-color: #d6c9a6;
}

#head1{
    font-size: 100px;
    color: #C54576;
}
body{
    width: 700px;
    padding: 0 20px 20px 40px;
    margin-right: 0 auto;
}
h1{
    font-size: 23px;
    color:rgba(131, 30, 5, 0.802) ;
    font-family: forte;
}
h2{
    font-size: 19px;

}
#pra1::first-letter{
    font-size: 30px;
    color:rgba(133, 29, 3, 0.747) ;

}
#pra1{
    font-size: 16px;
    padding: 0 0 0 10px;
}
h3::first-letter{
    font-size: 30px;
    color:rgba(133, 29, 3, 0.747) ; 
}
h3{
    padding: 5px 10px 0 10px;
    font-size: 15px;
    text-shadow: 1px 1px 1px brown;
}

#pra2{
    font-size: 14px;
    color:rgb(248, 20, 218);
    font-weight: bold;   
}
#img1{
    float: left;
    width: 280px;
    height: 270px;
    box-shadow: 3px 3px 10px #7a005c;
    margin: 1px;
    
}
#img2{
    float: right;
    width: 220px;
    height: 260px;
    box-shadow: 2px 1px 8px #7a005c;
    margin: 8px;
}
li:first-child {
    font-weight: bold;    
}

#list1{
    list-style-position: inside;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}

#list2{
    padding: 5px 10px 0 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#list3{
    list-style-position: inside;
    padding: 5px 10px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}
footer{
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    height: 70px;
    text-align: center;
    border: 2px solid #8a0404;
    background-color: #d6c9a6;
}
footer p {
    font-size: 9px;
    font-style: italic;
    padding: 15px 0 2px 0;
    text-align: center;
    font-weight: bolder; 
}
